<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IURIS | ALTA DE CASO</title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/bootstrap/js/bootstrap.bundle.js}"></script>
    <style>
        body {
            background-color: #133C55;
            color: #EEEEEE;
        }
        #tarjeta {
            background-color: #386FA4;
            color: #EEEEEE;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/inicio}">
            <img th:src="@{/img/balance.png}" class="d-inline-block align-top" width="30" height="25" alt="">
            <span> IURIS </span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"> &#8962; Inicio</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                <button class="btn btn-primary" type="submit">Buscar</button>
            </form>
        </div>
    </div>
</nav>
<br><br>
<h1 class="h1" align="center">Agregar un nuevo caso</h1>


asdasdasdasd


<div class=" col-sm-12">
    <div class="alert alert-danger alert-dismissible fade show" id="alert" th:if="${error == 'true'}" role="alert">
        <strong>Ha ocurrido un error!</strong> Por favor, intente nuevamente.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${exito == 'true'}">
        El caso se ha creado correctamente.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>

<br> <br>
<div class="container py-10 card" id="tarjeta">

    <form class="row" th:action="@{/caso/agregar}" th:object="${caso}" method="post">
        <div class="col">
            <div class="form-group">
                <label for="caratula" class="col-sm-4 control-label">Carátula:</label>
                <input id="caratula" maxlength="50" class="form-control" th:field="*{caratula}" type="text" required>
            </div>
            <div class="form-group">
                <label for="materia" class="col-sm-4 control-label">Materia:</label>
                <input id="materia" maxlength="50" class="form-control" th:field="*{materia}" type="text" required>
            </div>
            <div class="form-group">
                <label for="fuero" class="col-sm-4 control-label">Fuero:</label>
                <input id="fuero" maxlength="50" class="form-control" th:field="*{fuero}" type="text" required>
            </div>
            <div class="form-group">
                <label for="estado" class="col-sm-4 control-label">Estado:</label>
                <input id="estado" maxlength="50" class="form-control" th:field="*{estado}" type="text" required>
            </div>
        </div>

        <div class="col">
            <div class="form-group">
                <label for="juzgado" class="col-sm-4 control-label">Juzgado:</label>
                <input id="juzgado" maxlength="50" class="form-control" th:field="*{juzgado}" type="text" required>
            </div>
            <div class="form-group">
                <label for="datosParte" class="col-sm-4 control-label">Datos de la otra parte:</label>
                <input id="datosParte" maxlength="50" class="form-control" th:field="*{datoOtraParte}" type="text" required>
            </div>
            <div class="form-group">
                <label for="representante" class="col-sm-4 control-label">Representante:</label>
                <input id="representante" maxlength="50" class="form-control" th:field="*{representante}" type="text" disabled required>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Cliente:</label>
                <select class="form-select" th:name="cliente" required>
                    <option th:each="cliente : ${clientes}" th:value="${cliente.idCliente}" th:text="${cliente.idCliente + ' | ' + cliente.nombre + ' ' + cliente.apellido +' | ' + cliente.dni}">
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="descripcion" class="col-sm-4 control-label">Descripción:</label>
            <input id="descripcion" maxlength="50" class="form-control" th:field="*{descripcion}" type="text" required>
        </div>

        <div class="container py-10" align="center">
            <div class="form-group row">
                <div class="col" style="margin:18px">
                    <input class="btn btn-info" type="submit" value="Agregar Caso">
                </div>
                <div class="col" style="margin:18px">
                    <a href="/caso/lista">
                        <button class="btn btn-info" type="button">Ver listado</button>
                    </a>
                </div>
            </div>
        </div>
        <span th:text="${exito}"></span>
    </form>
</div>

</body>

</html>
<!--
<!DOCTYPE html >
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IURIS | Agregar Caso</title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"  >
</head>
<body>
    <h1 class="h1">Agregar un nuevo caso</h1>
    <br> <br>

    <form th:action="@{/caso/agregar}" th:object="${caso}" method="post">
        <input class="form-control" placeholder="Carátula " th:field="*{caratula}" type="text" required><br>
        <input class="form-control" placeholder="Materia" th:field="*{materia}" type="text" required><br>
        <input class="form-control" placeholder="Fuero" th:field="*{fuero}" type="text" required><br>
        <input class="form-control" placeholder="Estado" th:field="*{estado}" type="text" required><br>
        <input class="form-control" placeholder="Juzgado" th:field="*{juzgado}" type="text" required><br>
        <input class="form-control" placeholder="Datos de la otra parte" th:field="*{datoOtraParte}" type="text" required><br>
        <input class="form-control" placeholder="Descripcion" th:field="*{descripcion}" type="text" required><br><br>
        <input class="form-control" placeholder="Representante" th:field="*{representante}" type="text" readonly required><br>
        <select th:name="cliente" required>
            <option th:each="cliente : ${clientes}" th:value="${cliente.idCliente}" th:text="${cliente.idCliente + ' | ' + cliente.nombre + ' ' + cliente.apellido +' | ' + cliente.dni}">
            </option>
        </select>
        <div class="form-group row">
            <div class="col">
                <input class="btn btn-info" type="submit" value="Agregar Caso"><br>
            </div>
            <div class="col">
                <a href="/caso/lista"><button class="btn btn-info" type="button">Ver listado</button></a>
            </div>
        </div>
        <span th:text="${exito}"></span>
    </form>
</body>
</html>
-->