<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IURIS | EDITAR CLIENTE</title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" >
    <style>
        body {
            background-color: #133C55;
            color: #EEEEEE;
        }
        #tarjeta {
            background-color: #386FA4;
            color: #EEEEEE;
        }
        #btnEditarCliente {
            padding-top: 15px;
            padding-left: 25%;
        }
    </style>
</head>
<body>
    <br> <br>
    <div class=" col-sm-12">
        <div class="alert alert-danger alert-dismissible fade show" id="alert" th:if="${estado == 'error'}" role="alert">
            <strong>Ha ocurrido un error!</strong> Por favor, intente nuevamente.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${estado == 'exito'}" role="alert">
            El cliente se ha editado correctamente.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>

    <h1 class="h1" align="center">Editar datos de un cliente</h1>

    <div class="container py-3 card" id="tarjeta" style="width:35%">
        <form th:action="@{/cliente/editar}" th:object="${cliente}" method="post">
            <div style="padding-left: 10%; padding-right: 10%;">
                <div class="form-group">
                    <label for="id_cliente" class="col-sm-4 control-label">ID:</label>
                    <input id="id_cliente" maxlength="50" class="form-control" th:field="*{id_cliente}" readonly>
                </div>
                <div class="form-group">
                    <label for="apellido" class="col-sm-4 control-label">Apellido:</label>
                    <input id="apellido" maxlength="30" class="form-control" th:field="*{apellido}" type="text" required>
                </div>
                <div class="form-group">
                    <label for="dni" class="col-sm-4 control-label">DNI:</label>
                    <input id="dni" maxlength="50" class="form-control" th:field="*{dni}" type="text" required>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-8 control-label">Correo electrónico:</label>
                    <input id="email" maxlength="50" class="form-control" th:field="*{email}" type="email" required>
                </div>
                <div class="form-group">
                    <label for="nombre" class="col-sm-4 control-label">Nombre:</label>
                    <input id="nombre" maxlength="30" class="form-control" th:field="*{nombre}" type="text" required>
                </div>
                <div class="form-group">
                    <label for="telefono" class="col-sm-4 control-label">Teléfono:</label>
                    <input id="telefono" maxlength="50" class="form-control" th:field="*{telefono}" type="text" required>
                </div>
                <button id="btnEditarCliente" class="btn btn-info" type="submit" value="Confirmar cambios">
            </div>
        </form>
    </div>
</body>