<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IURIS | EDITAR CASO</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" >
    <script th:src="@{/bootstrap/js/bootstrap.bundle.js}"></script>
    <style>
        #tarjeta {
            background-color: #386FA4;
            color: #EEEEEE;
        }
    </style>
</head>
<body class="bg-dark text-light">
    <!-- boton home -->
    <div class="text-end">
        <a href="" class="mx-3 no-underline" th:href="@{/inicio}" th:target="_blank">
            <div class="div-home text-center my-3 p-1 bg-secondary">
                <img class="home" th:src="@{/img/home.png}" alt="">
            </div>
        </a>
    </div>
    <div class=" col-sm-12">
        <div class="alert alert-danger alert-dismissible fade show" id="alert" th:if="${error == true}" role="alert">
            <strong>Ha ocurrido un error!</strong> Por favor, intente nuevamente.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${exito == true}" >
            El caso se ha editado correctamente.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    <br> <br>
    <h1 class="h1" align="center">Editar datos de un caso</h1>
    <br> <br>
    <div class="container py-3 card bg-blue900" style="width:35%">
        <form th:action="@{/caso/editar}" th:object="${caso}" method="post">
            <div style="padding-left: 10%; padding-right: 10%;">
                <div class="form-group">
                    <label for="id_cliente" class="col-sm-4 control-label">ID:</label>
                    <input id="id_cliente" maxlength="50" class="form-control" th:field="*{idCaso}" readonly>
                </div>
                <div class="form-group">
                    <label for="caratula" class="col-sm-4 control-label">Caratula:</label>
                    <input id="caratula" maxlength="30" class="form-control" th:field="*{caratula}" type="text"  required>
                </div>
                <div class="form-group">
                    <label for="materia" class="col-sm-4 control-label">Materia:</label>
                    <input id="materia" maxlength="50" class="form-control" th:field="*{materia}" type="text" required>
                </div>
                <div class="form-group">
                    <label for="fuero" class="col-sm-8 control-label">Fuero:</label>
                    <input id="fuero" maxlength="50" class="form-control" th:field="*{fuero}" type="text" required>
                </div>
                <div class="form-group">
                    <label for="estado" class="col-sm-4 control-label">Estado:</label>
                    <input id="estado" maxlength="30" class="form-control" th:field="*{estado}" type="text"required>
                </div>
                <div class="form-group">
                    <label for="juzgado" class="col-sm-4 control-label">Juzgado:</label>
                    <input id="juzgado" maxlength="50" class="form-control" th:field="*{juzgado}" type="text" required>
                </div>
                <div class="form-group">
                    <label for="datoOtraParte" class="col-sm-4 control-label">Datos de la otra parte:</label>
                    <input id="datoOtraParte" maxlength="50" class="form-control" th:field="*{datoOtraParte}" type="text"required>
                </div>
                <div class="form-group">
                    <label for="descripcion" class="col-sm-4 control-label">Descripción:</label>
                    <input id="descripcion" maxlength="150" class="form-control" th:field="*{descripcion}" type="text"required>
                </div>
                <div class="form-group">
                    <label for="representante" class="col-sm-4 control-label">Representante:</label>
                    <input id="representante" maxlength="50" class="form-control" th:field="*{representante}" type="text" readonly required>
                </div>
                <div class="form-group">
                    <label for="cliente" class="col-sm-4 control-label">Cliente:</label>
                    <input id="cliente" maxlength="50" class="form-control" th:field="*{cliente.idCliente}" type="text" readonly required>
                </div>
                <div class="row justify-content-center">
                    <button id="btnEditarCaso" class="btn btn-primary mt-3 col-sm-4" type="submit">Confirmar cambios</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>