<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>IURIS | EDITAR USUARIO</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/x-icon" href="favicon.ico">
	<link rel="stylesheet" th:href="@{/css/styles.css}">
	<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" >
	<style>
        #tarjeta {
            background-color: #386FA4;
            color: #EEEEEE;
        }
    </style>
</head>
<body class="bg-blue900 text-light">
<!-- boton home -->
	<div class="text-end">
		<a href="" class="mx-3 no-underline" th:href="@{/inicio}" th:target="_blank">
			<div class="div-home text-center my-3 p-1 bg-secondary">
				<img class="home" th:src="@{/img/home.png}" alt="">
			</div>
		</a>
	</div>
	<br> <br>
	<h1 class="h1" align="center">Agregar un nuevo usuario</h1>
	<br> <br>
	<div class="container py-3 card bg-blue500" style="width:35%">
		<form th:action="@{/usuario/editar}" th:object="${usuario}" method="post">
			<div style="padding-left: 10%; padding-right: 10%;">
				<div class="form-group">
					<label for="id_usuario" class="col-sm-4 control-label">ID:</label>
					<input id="id_usuario" maxlength="50" class="form-control" th:field="*{idUsuario}" readonly>
				</div>
				<div class="form-group">
					<label for="email" class="col-sm-6 control-label">Correo electrónico:</label>
					<input id="email" maxlength="50" class="form-control" th:field="*{email}" type="email"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" title="Algún caracter ingresado no es válido" required>
				</div>
				<div class="form-group">
					<label for="full_name" class="col-sm-6 control-label">Nombre completo:</label>
					<input id="full_name" maxlength="30" class="form-control" th:field="*{fullName}" type="text"  pattern="[a-zA-Z\s]" title="Solo se permiten letras y espacios en blanco" required>
				</div>
				<div class="form-group">
					<label for="password" class="col-sm-4 control-label">Contraseña:</label>
					<input id="password" maxlength="50" class="form-control" th:field="*{pass}" type="text" required>
				</div>
				<div class="form-group">
					<label for="rol" class="col-sm-4 control-label">Rol:</label>
					<input id="rol" maxlength="30" class="form-control" th:field="*{rol}" type="text" pattern="[a-zA-Z0-9\s]" title="Solo se permiten letras, números y espacios en blanco"  required>
				</div>
				<div class="form-group">
					<label for="user" class="col-sm-4 control-label">User:</label>
					<input id="user" maxlength="50" class="form-control" th:field="*{user}" type="text"  pattern="[a-zA-Z0-9]" title="Solo se permiten letras y números" required>
				</div>
			</div>
			<div class="row justify-content-center">
				<button id="btnEditarUsuario" class="btn btn-primary mt-3 col-sm-4" type="submit">Confirmar cambios</button>
			</div>
		</form>
	</div>
</body>
</html>