<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Inicio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link th:href="@{/fullcalendar/lib/main.css}" rel='stylesheet' />
    <script th:src="@{/fullcalendar/lib/main.js}"></script>
    <script th:src="@{/fullcalendar/lib/locales/es.js}"></script>
    <link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet">
    <script >
      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          themeSystem: 'bootstrap4',
          locale: 'es',
          initialView: 'dayGridWeek',
          headerToolbar: {
          left:'prev,next,today',
          center: 'title',
          right: 'dayGridMonth,dayGridWeek'
          },
          selectable: 'true',
          dayMaxEvents: true,
          events: 'http://localhost:8080/restcalendario/listar',
          eventClick: function(info) {
              var eventObj = info.event;
              if ( confirm("¿Desea eliminar el evento " + eventObj.title + "?") ) {
                var oReq = new XMLHttpRequest();
                oReq.open("POST", "http://localhost:8080/calendario/eliminar");
                var formData = new FormData();
                formData.append("id", eventObj.id);
                oReq.send(formData);
                eventObj.remove()
              }
          },
          dateClick: function(info) {
            document.getElementById("start").value = info['dateStr']
          }
        });
        calendar.render();
      });
    </script>
    <script>
        function agregarCita() {
            if (document.getElementById("formulario").style.visibility == "hidden") {
                document.getElementById("formulario").style.visibility = "visible";
            } else {
             document.getElementById("formulario").style.visibility = "hidden";
            }
        }
    </script>
</head>
<body>
    <div class="row g-0 bg-blue300 full-height">
        <!--div del panel usuario-->
        <div class="col-md-3">
            <div class="bg-dark py-1 text-primary full-height">
                <div class="text-center">
                    <img th:src="@{/img/logoIuris2.png}" class="round-img my-4">
                    <!-- th:src="@{~/billing-app/images/Invoice.png}"-->
                    <h5 class="text-center" id="username"><span th:text="${usuario.fullName}" ></span></h5>
                    <h6 class="text-center" id="rol"><span th:text="${usuario.rol}" ></span></h6>
                    <div class="d-grid gap-2 col-6 mx-auto py-4">
                        <a class="my-1 " th:href="@{/caso/lista}" th:target="_blank">
                            <button class="btn btn-primary button-panel" type="button">Ver Casos</button>
                        </a>
                        <a class="my-1 " th:href="@{/cliente/lista}" th:target="_blank">
                            <button class="btn btn-primary button-panel" type="button">Ver Clientes</button>
                        </a>
                        <a class="my-1 " th:href="@{/usuario/lista}" th:if="${usuario.rol == 'admin'}" th:target="_blank">
                            <button class="btn btn-primary button-panel" type="button">Ver Usuarios</button>
                        </a>
                    </div>
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <form th:action="@{/usuario/logout}"  method="POST">
                            <button class="btn btn-primary my-5 button-panel" type="submit">Cerrar sesión</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--div del buscador y calendario-->
        <div class="col-md-6 px-1  bg-blue300">
            <!--div del buscador-->
            <div>
                <div class="card ml-1 mt-1 bg-blue800">
                    <div class="card-body">
                        <div class="input-group">
                            <form class="input-group" th:action="@{/buscar}" th:target="_blank" method="POST">
                                <input type="text" th:name="valorABuscar" class="form-control text-primary bg-blue100" placeholder="Ingrese cliente o caso a buscar" required>
                                <button class="btn btn-outline-light" th:name="donde" value="cliente" type="submit">Cliente</button>
                                <button class="btn btn-outline-light" th:name="donde" value="caso" type="submit">Caso</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid" id="calendario-container">
                <div>
                    <div id="formulario-calendario" class="row mx-0 py-3 mt-2 mb-1 bg-blue800">
                        <button type="button" class="btn btn-outline-light col-sm-3 ml-0" id="agregarCita" onclick="agregarCita()">Agregar una cita ></button>
                        <form th:action="@{/calendario/agregar}" target="_self" id="formulario" style="visibility: hidden;" class="col-auto" method="post">
                            <div class="input-group">
                                <span class="input-group-text">Fecha y evento:</span>
                                <input type="date" th:name="start" id="start" class="form-control" required>
                                <input type="text" th:name="title" id="title" placeholder="evento" class="form-control" required>
                                <input type="color" th:name="color" class="form-control form-control-color" id="color" value="#563d7c">
                                <button type="submit" class="btn btn-outline-light">Agregar</button>
                            </div>
                        </form>
                        <div id='calendar' class="py-3 " style="color: white;"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--div de lista de tareas-->
        <div class="col-md-3 px-1 py-1 bg-blue300">
            <div class="card bg-blue800 full-height">
                <div class="card-body">
                    <h5 class="card-title text-center text-primary py-2" id="tituloTareas">TAREAS</h5>
                    <!-- form de agregar tarea -->
                    <form class="row g-2" th:action="@{/listaDeTareas/agregar}" method="post">
                        <div class="col-md-8">
                            <input class="form-control bg-blue100" th:name="tareaNueva" placeholder="Ingrese tarea" required>
                        </div>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-primary mb-3">Agregar</button>
                        </div>
                    </form>
                    <ul class="list-group" th:each="tarea: ${tareas}">
                        <li  id="idDeBDDdeTarea" class="list-group-item bg-dark text-light row" >
                            <div class="row justify-content-between">
                                <div th:if="${tarea.enabled == true}" class="col-md-6 pt-2">
                                    <input class="form-check-input me-1" type="checkbox" checked onchange="tachar(this)" th:value="${tarea.idDetalleTarea}" aria-label="...">
                                    <span style="text-decoration-line: line-through;" th:id="${tarea.idDetalleTarea}" th:text="${tarea.tarea}"></span>
                                </div>
                                <div th:if="${tarea.enabled == false}" class="col-md-6 pt-2">
                                    <input class="form-check-input me-1" type="checkbox" onchange="tachar(this)" th:value="${tarea.idDetalleTarea}" aria-label="...">
                                    <span th:id="${tarea.idDetalleTarea}" th:text="${tarea.tarea}"></span>
                                </div>
                                <div class="col-md-1 offset-md-4">
                                    <form th:action="@{/listaDeTareas/eliminar}" method="post">
                                        <button type="submit" class="btn-close btn-close-white form-control form-control-sm" aria-label="Close"></button>
                                        <input type="hidden" th:name="idTarea" th:value="${tarea.idDetalleTarea}">
                                    </form>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

<script th:src="@{/bootstrap/js/bootstrap.bundle.js}"></script>
<script>
    function eliminarTarea(){
      let li = document.getElementById("idDeBDDdeTarea");
      li.remove();
    }

    function tachar(tarea){
        let textoTarea = document.getElementById(tarea.value);

        var oReq = new XMLHttpRequest();
        oReq.open("POST", "http://localhost:8080/listaDeTareas/check");
        var formData = new FormData();
        formData.append("id", tarea.value);
        var checked;

        if (tarea.checked){
            //textoTarea.className += " text-decoration-line-through";
            textoTarea.style.textDecoration = "line-through";
            checked = false;
        } else {
            //textoTarea.className -= " text-decoration-line-through";
            textoTarea.style.textDecoration = "none";
            checked = true;
        }
        formData.append("check", checked);
        oReq.send(formData);
    }
</script>
</body>
</html>