<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Test Login</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet">
</head>
<body>
<div id="divlogin">
    <div class="card position-relative m-5 bg-dark">
        <form th:action="@{/usuario/login}" th:object="${usuario}" method="POST">
            <div id="login">
                <div class="alert alert-warning text-center" role="alert" th:if="${error == 'true'}" id="error">
                    Algo no se ingresó bien, pero ánimo, probá nuevamente!
                </div>
                <div class="mb-3 row" >
                    <label for="staticEmail" class="col-sm-1 col-form-label">Usuario</label>
                    <div class="col-sm-6">
                        <input th:field="*{user}" type="text"  class="form-control" id="staticEmail" required>
                    </div>
                </div>
                <div class="mb-2 row" >
                    <label for="inputPassword" class="col-sm-1 col-form-label">Password</label>
                    <div class="col-sm-6">
                        <input th:field="*{pass}" type="password"  class="form-control" id="inputPassword" required>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-sm-1 position-relative">
                        <button
                                type="submit"
                                class="btn btn-primary blue-100 mb-3 position-absolute top-0 start-50 translate-middle-x"
                        >Ingresar
                        </button>
                    </div>
                    <div class="col-sm-1 position-relative">
                        <a th:href="@{/usuario/registro}">
                            <button
                                    type="button"
                                    class="btn btn-primary blue-100 mb-3 position-absolute top-0 start-50 translate-middle-x"
                            >Registrarse
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>



<!--
Username: <input th:field="*{user}" type="text" required><br><br>
Pass: <input th:field="*{pass}" type="password" required><br><br>
<input type="submit" value="Loguearse"><br><br>
<a href="/usuario/registro"><button type="button">Registrarse</button></a>
<span th:text="${error}"></span>

-->
<script th:src="@{/bootstrap/js/bootstrap.bundle.js}"></script>
</body>
</html>