<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>IURIS | CASOS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" th:href="@{/css/styles.css}">
  <link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet">
</head>
<body class="bg-blue900">
      <div class="alert alert-danger mx-4 mt-4" role="alert">
        <div class="row g-0">
          <div class="col-md-6 pt-1 px-3">
            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
              <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
              </symbol>
            </svg>
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
            Desea eliminar el caso "CasoCerraadooo"?
          </div>
          <div class="col-md-6">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end px-3">
              <button class="btn btn-outline-danger me-md-2" type="button">Si</button>
              <button class="btn btn-outline-danger" type="button">No</button>
            </div>
          </div>
        </div>
      </div>

      <div class="row g-0">
        <div class="col">
          <div class="rounded bg-blue800 px-3 py-3 mt-3">
            <table class="table table-dark table-striped my-2">
              <thead>
                <tr>
                  <th scope="col" class="border-1st">Caratula</th>
                  <th scope="col">Materia</th>
                  <th scope="col">Fuero</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Juzgado</th>
                  <th scope="col">Cliente</th>
                  <th scope="col">Otra Parte</th>
                  <th scope="col">Descripcion</th>
                  <th scope="col">Representante</th>
                  <th scope="col">Pagos</th>
                  <th scope="col">Archivos</th>
                  <th scope="col" class="border-last">Edición</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Caso de algo</th>
                  <td>Una materia</td>
                  <td>Un fuero</td>
                  <td>Cerrado</td>
                  <td>Juzgado ficticio</td>
                  <td>Mendez, Sandra <a href="">Ver</a></td>
                  <td><button class="btn btn-secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#idDELCASO1" aria-controls="offcanvasBottom">Ver</button></td>
                  <td>Descripcion del caso y bla bla bla, sarasa, bla</td>
                  <td>Pato Cerrado</td>
                  <td>Adeuda <a href="">Ver</a></td>
                  <td>(5) <a href="">Ver</a></td>
                  <td>
                    <a href=""><img src="square-pen-solid.png" class="icon"></a>
                    <a href=""><img src="square-xmark-solid.png" class="icon"></a>
                  </td>
                  <!--<td><a href="">Editar</a> <a href="">Eliminar</a></td>-->
                </tr>
                <!--aca se viene la piiiiii-->
                <div class="offcanvas offcanvas-bottom" tabindex="-1" id="idDELCASO1" aria-labelledby="offcanvasBottomLabel">
                  <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasBottomLabel">Aca van a aparecer los datos de la OTRA PARTE visteee? del caso 1</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                  </div>
                </div>
                  
                <!--la piiiizzaaaaaaaa EEEAAAA-->
                <tr>
                  <th scope="row">Caso de algo</th>
                  <td>Una materia</td>
                  <td>Un fuero</td>
                  <td>Cerrado</td>
                  <td>Juzgado ficticio</td>
                  <td>Niglio, Gabriel Hernan <a href="">Ver</a></td>
                  <td>
                    <button class="btn btn-secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#idDELCASO2" aria-controls="offcanvasBottom">
                      Ver
                    </button>
                  </td>
                  <td>Descripcion del caso y bla bla bla, sarasa, bla</td>
                  <td>Pato Cerrado</td>
                  <td>Saldado <a href="">Ver</a></td>
                  <td>(3) <a href="">Ver</a></td>
                  <td>
                    <a href=""><img src="square-pen-solid.png" class="icon"></a>
                    <a href=""><img src="square-xmark-solid.png" class="icon"></a>
                  </td>
                </tr>

                <div class="offcanvas offcanvas-bottom" tabindex="-1" id="idDELCASO2" aria-labelledby="offcanvasBottomLabe">
                  <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasBottomLabe">Aca van a aparecer los datos de la OTRA PARTE visteee? del caso 2</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                  </div>
                </div>

                <tr>
                  <th scope="row">Caso de algo</th>
                  <td>Una materia</td>
                  <td>Un fuero</td>
                  <td>Cerrado</td>
                  <td>Juzgado ficticio</td>
                  <td>Ubieta, Martina <a href="">Ver</a></td>
                  <td>
                    <button class="btn btn-secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#idDELCASO3" aria-controls="offcanvasBottom">
                      Ver
                    </button>
                  </td>
                  <td>Descripcion del caso y bla bla bla, sarasa, bla</td>
                  <td>Pato Cerrado</td>
                  <td>Adeuda <a href="">Ver</a></td>
                  <td>(8) <a href="">Ver</a></td>
                  <td>
                    <a href=""><img src="square-pen-solid.png" class="icon"></a>
                    <a href=""><img src="square-xmark-solid.png" class="icon"></a>
                  </td>
                  <!--
                  <td><a href="">Editar</a> <a href="">Eliminar</a></td>-->
                </tr>
                <div class="offcanvas offcanvas-bottom" tabindex="-1" id="idDELCASO3" aria-labelledby="offcanvasBottomLab">
                  <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasBottomLab">Aca van a aparecer los datos de la OTRA PARTE visteee? del caso 3</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                  </div>
                </div>
              </tbody>
            </table>
          </div>
            
        </div>
      </div>

      

  <script src="dist/bootstrap/js/bootstrap.bundle.js"></script>
  <!-- borrar el siguiente script antes de entregar... a chiquita -->
  <script>
    function hacerAlgo(){
      return "Proximamente";
    };

  </script>
</body>
</html>
