<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>IURIS | PAGOS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet">
    <script src="dist/bootstrap/js/bootstrap.bundle.js"></script>
</head>
<body class="bg-blue900">
    <!-- boton agregar & home -->
    <div class="text-end">
        <a th:href="@{'/pago/alta/' + ${caso.idCaso}}" class="no-underline"  th:target="_blank">
            <div class="div-home text-center my-3 p-1 bg-secondary">
                <img class="home" th:src="@{/img/addmoney.png}" alt="">
            </div>
        </a>
        <a class="mx-3 no-underline" th:href="@{/inicio}" th:target="_blank">
            <div class="div-home text-center my-3 p-1 bg-secondary">
                <img class="home" th:src="@{/img/home.png}" alt="">
            </div>
        </a>
    </div>
  <div class="row g-0">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h1 class="text-center text-light my-4 py-4" th:text="'Pagos del caso ' + ${caso.caratula} + ' del cliente ' + ${caso.cliente.nombre} + ' ' + ${caso.cliente.apellido}"></h1>
      <div class="rounded bg-blue800 px-3 py-3 mt-3">
        <table class="table table-dark table-striped my-2">
          <thead>
            <tr>
              <th scope="col" class="border-1st">Cantidad abonada</th>
              <th scope="col">Fecha</th>
              <th scope="col">Forma de pago</th>
              <th scope="col" class="border-last">Edición</th>
            </tr>
          </thead>
          <tbody>
              <tr th:if="${#lists.isEmpty(resultados)}">
                  <td colspan="4" align="center">No hay resultados</td>
              </tr>
            <tr th:each="pago: ${resultados}">
              <th th:text="${pago.cantAbonada}">800</th>
              <td th:text="${pago.fecha}">800</td>
              <td th:text="${pago.formaPago}">2022-04-06</td>
              <td>
                <div class="row">
                    <a class="col" th:href="@{'/pago/editar/' + ${pago.idPago}}"><img th:src="@{/img/square-pen-solid.png}" class="icon"></a>

                    <form th:action="@{/pago/baja}" class="px-0 mx-0 col" style="width: 10px;" method="post">
                        <input th:name="id" type="hidden" id="id" th:value="${pago.idPago}">
                        <input th:name="idcaso" type="hidden" id="idcaso" th:value="${caso.idCaso}">
                        <button class="btn" type="submit"><img th:src="@{/img/square-xmark-solid.png}" class="icon"></button>
                    </form>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</body>
</html>
