<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>IurisFront</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="styles.css">
  <link href="dist/bootstrap/css/bootstrap.css" rel="stylesheet">
</head>
<body class="bg-blue900">
      <div class="row g-0">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
          <div class="rounded bg-blue800 px-3 py-3 mt-3">
            <table class="table table-dark table-striped my-2">
              <thead>
                <tr>
                  <th scope="col" class="border-1st">Apellido</th>
                  <th scope="col">Nombres</th>
                  <th scope="col">DNI</th>
                  <th scope="col">Telefono</th>
                  <th scope="col">Email</th>
                  <th scope="col">Cant. Casos</th>
                  <th scope="col" class="border-last">Edición</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Mendez</th>
                  <td>Sandra</td>
                  <td>25256365</td>
                  <td>1125256365</td>
                  <td>mendez.sandra@gmail.com</td>
                  <td>(3) <a href="">Ver</a></td>
                  <td>
                    <a href=""><img src="square-pen-solid.png" class="icon"></a>
                    <a href=""><img src="square-xmark-solid.png" class="icon"></a>
                  </td>
                  <!--
                  <td><a href="">Editar</a> <a href="">Eliminar</a></td>-->
                </tr>
                <tr>
                  <th scope="row">Iusem</th>
                  <td>Damian</td>
                  <td>23256365</td>
                  <td>1123256365</td>
                  <td>iusem.damian@gmail.com</td>
                  <td>(15) <a href="">Ver</a></td><!--
                  <td><a href="">Editar</a> <a href="">Eliminar</a></td>-->
                  <td>
                    <a href=""><img src="square-pen-solid.png" class="icon"></a>
                    <a href=""><img src="square-xmark-solid.png" class="icon"></a>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Niglio</th>
                  <td>Gabriel Hernan</td>
                  <td>55256365</td>
                  <td>1155256365</td>
                  <td>niglio.gabriel@gmail.com</td>
                  <td>(1) <a href="">Ver</a></td><!--
                  <td><a href="">Editar</a> <a href="">Eliminar</a></td>-->
                  <td>
                    <a href=""><img src="square-pen-solid.png" class="icon"></a>
                    <a href=""><img src="square-xmark-solid.png" class="icon"></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
            
        </div>
        <div class="col-md-1">
        </div>
      </div>

  <script src="dist/bootstrap/js/bootstrap.bundle.js"></script>
  <!-- borrar el siguiente script antes de entregar... a chiquita -->
  <script>
    function hacerAlgo(){
      return "Proximamente";
    };

  </script>
</body>
</html>
