<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Test clientes</title>
</head>
<body>
    <span th:unless="${resultados != null}">
        <h3> No se encontraron resultados que coincidan con su búsqueda.</h3>
    </span>
    <table border="1" th:if="${type == 'cliente'}">
        <tr th:each="cliente: ${resultados}">
            <td th:text="${cliente.nombre}"></td>
            <td th:text="${cliente.apellido}"></td>
        </tr>
    </table>
    <table border="1" th:if="${type == 'caso'}">
        <tr th:each="caso: ${resultados}">
            <td th:text="${caso.caratula}"></td>
            <td th:text="${caso.materia}"></td>
            <td th:text="${caso.fuero}"></td>
        </tr>
    </table>

    <!--<td th:text="${teacher.additionalSkills} ?: 'UNKNOWN'" />
        <span th:if="${teacher.gender == 'F'}">Female</span>
        <span th:unless="${clientes !=  null}">No se encontraron coincidencias.</span>
    -->
</form>
</body>
</html>