<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <form th:action="@{/archivo/subir}" method="POST" enctype="multipart/form-data">
            <input type="file" th:name="file"  >
            <input type="submit" value="Buscar">
        </form>
        <a href="C:/Users/nadia/AppData/Roaming/IURIS/Archivos/UNLZ-FI-TPC_%C3%89tica_Profesional_2022_Presentaci%C3%B3n_y_programa_de_contenidos%20v3.pdf" target="_blank">archivo</a>
</body>
</html>