<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8' />
    <link th:href="@{/fullcalendar/lib/main.css}" rel='stylesheet' />
    <link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet">
    <script th:src="@{/fullcalendar/lib/main.js}"></script>
    <script th:src="@{/fullcalendar/lib/locales/es.js}"></script>
    <script >
      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          themeSystem: 'bootstrap4',
          locale: 'es',
          initialView: 'dayGridWeek',
          headerToolbar: {
          left:'prev,next,today',
          center: 'title',
          right: 'dayGridMonth, dayGridWeek'
          },
          selectable: 'true',
          dateClick: function(info) {
            document.getElementById("fecha").value = info['dateStr']
          }
        });
        calendar.render();
      });
    </script>
</head>
<body>
    <div class="container">
        <div>
            <form th:action="@{/}">
                <input type="text" id="fecha" placeholder="fecha">
                <input type="text" id="evento" placeholder="evento">
                <input type="color" id="color">
                <button type="button" class="btn btn-primary">
                    Agregar cita
                </button>
            </form>
        </div>
        <div id='calendar'></div>
    </div>


</body>
</html>