<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <form th:action="@{/archivo/subir}" method="POST" enctype="multipart/form-data">
            <input type="file" th:name="file"  >
            <input type="submit" value="Cargar">
        </form> <br><br><br>
        <table border="1" th:if="${archivos != null}">
            <tr th:each="archivo: ${archivos}">
                <td th:text="${archivo.id}"></td>
                <td th:text="${archivo.nombre}"></td>
                <td th:text="${archivo.caso.caratula}"></td>
                <td th:text="${archivo.caso.cliente.nombre + ' ' + archivo.caso.cliente.apellido}"></td>
                <td>
                    <a th:href="@{'/archivo/ver/' + ${archivo.id}}" target="_blank">
                        <button type="button">Abrir</button>
                    </a>
                </td>
            </tr>
        </table>
</body>
</html>